.resultinfo_container
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height:200px;
  width:calc(100% - 60px);
  padding-left:60px;
  background-color:white;
  background-image: url("https://developer.marvel.com/i/images/developers/docs-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -moz-box-shadow:    0 0 5em rgba(25,25,25, 0.3);
  -webkit-box-shadow: 0 0 5em rgba(25,25,25, 0.3);
  box-shadow:          0 0 5em rgba(25,25,25, 0.3);
}
.resultinfo_inner
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.characters_found
{
  font-size:1.3em;
}
.info_icon
{
  font-size:1.4em;
  color:rgb(226,20,31);
  margin-right:10px;
}